<h1> Requests </h1>

<ul id="requested_name">
  <% @requested_data.each do |single_request| %>
    <li>
      <%= (Space.get(single_request.space_id)).name %>
      <%= single_request.check_in_date.strftime("%d/%m/%Y") %>
    </li>
  <% end %>



</ul>
