<h1> Requests </h1>

<ul id="requested_name">
  <% @requested_spaces.each do |entry| %>
    <%=entry.name%>
    <% @requested_data.each do |entry2| %>
      <%if entry2.space_id == entry.id %>
        <%=entry2.check_in_date%>
      <%end%>
    <%end %>
    <br>
  <% end %>
</ul>
