

<form action="/spaces/new" method="get">
  <input type="submit"value="List a Space">
</form>

<ul id="spaces">
  <% @spaces.each do |space| %>
  <li><a href="/spaces/details/<%= space.id %>"><%= space.name.capitalize %></a></li>
  <% end %>
</ul>
